<<<<<<< HEAD
<div id="<%= dom_id comment %>">
  <p>
    <strong>Body:</strong>
    <%= comment.body %>
  </p>

  <p>
    <strong>Post:</strong>
    <%= comment.post_id %>
  </p>

  <p>
    <strong>Parent:</strong>
    <%= comment.parent_id %>
  </p>

=======
<div class="card">
  <div class="card-body">
    <%= comment.body %>
  </div>
</div>
<div id="reply-form-<%= comment.id %>">
  <% unless comment.parent_id || !comment.persisted? %>
>>>>>>> refs/remotes/origin/main
</div>
