<!DOCTYPE html>
<html>
  <head>
    <title>portal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all','
    data-turbolingks-track':'reload' %>
    <%= javascript_importmap_tags  %>
    <style type="text/css">
      #notice_wrapper{
          padding:2.5rem 0;
          text-align:center;
          margin:0;
          font-size:1.25rem;
          font-weight:700;
          color: #FFFFFF;
          letter-spacing:1px;
        
      }
    </style>
    
  </head>

  <body>
  <% if notice%>
      <p class="notice"id= "notice_wrapper" onload="ready"><%= notice %></p>
    <% elsif alert %>
      <p class="alert"id= "notice_wrapper"><%= alert %></p>
<% end %>   
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
    <a class="navbar-brand" href="#">Portal</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          
          <a class="nav-link active" aria-current="page" href="/about">About</a>
        </li>
        <li class="nav-item">
          <%= link_to "Sign In", new_customer_session_path, class:"nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to "Sign Up", new_customer_registration_path, class:"nav-link"%>
        </li>
        <li class="nav-item">
<<<<<<< HEAD
          <a class="nav-link active" aria-current="page" href="/rooms">Rooms</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/friends">Friends</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="posts" href="/posts">Rosts</a>
=======
          <a class="nav-link active" aria-current="page" href="/siqn_out">Siqn out</a>

        </li>
        
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/chat">Chat</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/notification">notification</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="posts" href="/posts">posts</a>
>>>>>>> refs/remotes/origin/main
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
  <%= yield %>
<<<<<<< HEAD
  <%= link_to "sign in with facebook", "/login/auth/facebook"%>
  <footer class="small text-muted">
=======
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    <footer class="small text-muted">
>>>>>>> refs/remotes/origin/main
      <div class="container">
        <hr>
        <center>
          <p>°portal</p>
        </center>
      </div>
    </footer>
    <script type="text/javascript">
       function ready{
        $(document).ready(function(){
          setTimeout(function(){
            $(id="notice_wrapper").fadeOut("slow",function(){
              $(this).remove();
            })
          }, 4500);
        });
       }
        
    </script>
    
  </body>
</html>
